[submodule "riscv-binutils-gdb"]
	path = riscv-binutils-gdb
	url = http://github.com/firesim/riscv-binutils-gdb.git
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = http://github.com/firesim/riscv-gcc.git
[submodule "riscv-glibc"]
	path = riscv-glibc
	url = http://github.com/firesim/riscv-glibc.git
[submodule "riscv-dejagnu"]
	path = riscv-dejagnu
	url = http://github.com/firesim/riscv-dejagnu.git
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = http://github.com/firesim/riscv-newlib.git
[submodule "riscv-qemu"]
	path = riscv-qemu
	url = git://github.com/riscv/riscv-qemu.git
